/venv/
**/__pycache__/
.vscode
.cache
*.pyc

#ignore varibles.tf

terraform/variables.tf

# ignore more Terraform files

terraform.tfplan
terraform.tfstate

terraform/.terraform/
terraform/terraform.tfstate.d/
